<div class="text-center">
    <button *ngIf="!camera" class="btn btn-default" (click)="openCamera()">
        <i class="fa fa-camera"></i>Open Camera
    </button>
    <div *ngIf="camera && !cameraMobile">
        <video #video style="width:100%; height: 100%;" autoplay></video>
    </div>
    <input *ngIf="cameraMobile" #video type="file" accept="image/*" capture="user">

    <canvas [hidden]="true" #canvas width="640" height="480"></canvas>
    <button *ngIf="camera" class="btn btn-default" (click)="captureImage()">
        <i class="fa fa-camera"></i>Capture
    </button>

    <ul>
        <li *ngFor="let c of captures" class="d-inline-block p-1">
            <img src="{{ c }}" height="50" />
        </li>
    </ul>
</div>