.bg-white{
    overflow-x: hidden;
    overflow-y: visible;
  }
.chat-window{
  overflow-y: auto;
  max-height: 300px;
  min-height: 300px;
  background: #e9ecef;
}
.text-left{
  margin-bottom: 0rem !important;
}
.text-right{
  margin-bottom: 0rem !important;
}
.bg-right{
  background: #aaaaaa;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}
.bg-left{
  background: #dcdcdc;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

