<nav class="navbar navbar-light bg-dark navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-between w-100">
      <li>
        <a *ngIf="!home" class="hover">
          <i class="fa fa-bars" style="font-size:28px"></i>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="img">
        <img src="./../../assets/app_icon.png" height="50" alt="">
      </li>
      <li>
        <a *ngIf="!home" class="hover" data-toggle="tooltip" data-placement="bottom" title="Logout" (click)="logout()">
          <i class="fa fa-sign-out" style="font-size:28px"></i>
          <span class="sr-only">(current)</span>
        </a>
        <a *ngIf="home" class="hover" data-toggle="modal" data-target="#notification">
          <i class=" fa fa-bell " style="font-size:28px "></i>
          <span class="badge badge-secondary " *ngIf="message?._value?.length!=0 ">{{message?._value?.length}}</span>
          <span class="sr-only ">(current)</span>
        </a>
      </li>
    </div>
  </div>
</nav>

<div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="usersView" id="notificationModalCenterTitle">Push Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary" (click)="generatePush()">Generate Push</button>
        <br>
        <div class="alert alert-info" style="word-wrap: break-word;">{{showtoken|async}}</div>
        <pre *ngIf="message?._value?.length!=0 ">{{message?._value | json}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>