
<div class="container">
    <div class="row">
      <h2 style="text-align:center" *ngIf="!signup">Login with Social Media or Manually</h2>
      <h2 style="text-align:center" *ngIf="signup">Sign Up with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a  class="fb btn" (click)="loginFb()">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
         </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a (click)="onSignInGoogle($event)" class="google btn" id="googleBtn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <form #loginForm="ngForm" class="col" (submit)="login(loginForm)">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>
        <input *ngIf="signup" type="text" name="username" autoComplete="off" ngModel placeholder="username" required>
        <input type="email" name="email" autoComplete="off" ngModel placeholder="email" required>
        <input type="password" name="password" autoComplete="off" ngModel placeholder="Password" required>
        <input type="submit" value="Submit" [disabled]="loginForm.invalid">
      </form>
      
    </div>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a style="color:white" class="btn" *ngIf="!signup" (click)="signup=!signup">Sign up</a>
      <a style="color:white" class="btn" *ngIf="signup"  (click)="signup=!signup">Login</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>