<!-- Button trigger modal -->
<button type="button" #openModalButton [hidden]="true" id="openModalButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    show Error
</button>

<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body rounded">
                <div class="p-3 text-center">{{message}}</div>
                <div class="text-center">
                    <button type="button" class="btn bg-light border rounded" style="width: 100px" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>