<div class="container">
  <div class="d-flex justify-content align-items-center">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 maxWidth p-2">
      <h5 class="text-center p-3 font-weight-bold text-white">Reset Password</h5>
      <div *ngIf="errAlert" class="alert alert-danger">{{message |titlecase}}</div>
      <div *ngIf="successAlert" class="alert alert-success">{{message |titlecase}}</div>
      <form #forgetForm="ngForm" class="needs-validation" (submit)="forgetForm.form.valid && forget(forgetForm)" novalidate>
        <div class="form-group">
          <input type="email" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched),
            'is-valid': email.valid && (email.dirty || email.touched)}" class="form-control" name="email" autoComplete="off"
            placeholder="Email" [(ngModel)]="forgetForm.email" #email="ngModel" required pattern="^[a-z0-9](\.?[a-z0-9_-]){0,}@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}$">
          <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.pattern">Email is Invalid</p>
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="forgetForm.invalid">Submit</button>
      </form>

      <div class="text-center p-3">
        <a href="#" class="text-white" [routerLink]="['/login']"> Back to Login</a>
      </div>
    </div>
  </div>
</div>
