<div [ngClass]="overlay?'bggray':'d-none'">

</div>
<div class="d-flex flex-wrap mainbody">
    <!-- left -->
    <div class="p-2 side col-12 col-md-3 col-xl-2 bd-sidebar">
        <div id="menuTooggle" class="show" [ngClass]="mobileView?'collapse':''">

            <nav class="nav flex-column">
                <div class="w-100" *ngIf="sideData">
                    <a class="nav-link" [ngClass]="{'active':index+1==activeId}" (click)="active(item.title, index+1)" [routerLink]="" *ngFor="let item of sideData;let index=index">
                        {{item.title | titlecase}}
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <!-- right -->
    <div class="p-2 main">
        <div class="col-md-12 padd-sm">
            <h4>Users List</h4>
            <div class="card" *ngFor="let item of users; let id=index">
                <div class="card-body">
                    <div class="d-flex">
                        <img class="rounded-circle border mrg-sm-1" [src]="image(item.email)" *ngIf="image(item.email)" alt="" width=60 height=60>
                        <img class="rounded-circle border mrg-sm-1" src="assets/user.png" *ngIf="!image(item.email)" alt="" width=60 height=60>
                        <div (click)="getusebyid(item)" data-toggle="modal" data-target="#exampleModalCenter">
                            {{item.username}}
                            <br> {{item.email}}
                        </div>
                        <span class="delete" data-toggle="tooltip" data-placement="bottom" title="Delete User {{item.username}}" (click)="delete(item._id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="usersView" id="exampleModalCenterTitle">{{usersView.username}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="usersView">
                <img class="rounded-circle border mr-5" [src]="image(usersView.email)" *ngIf="image(usersView.email)" alt="" width=60 height=60>
                <img class="rounded-circle border mr-5" src="assets/user.png" *ngIf="!image(usersView.email)" alt="" width=60 height=60>
                <p *ngIf="usersView.username">Username: {{usersView.username}}</p>
                <p *ngIf="usersView.gender">Gender: {{usersView.gender}}</p>
                <p *ngIf="usersView.birthday">Birthday: {{usersView.birthday}}</p>
                <p *ngIf="usersView.fb_id">Facebookk Id: {{usersView.fb_id}}</p>
                <p *ngIf="usersView.google_id">Google Id: {{usersView.google_id}}</p>
                <p *ngIf="usersView._id">Mongo Id: {{usersView._id}}</p>
                <p *ngIf="usersView.email">Email:
                    <a target="_blank" rel="noopener noreferrer" href="https://mail.google.com/mail/?view=cm&fs=1&to={{usersView.email}}">{{usersView.email}}</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>