<router-outlet (activate)="onActivateRoute($event)"></router-outlet>
<div *ngIf="splashScreen" class="splash-screen">
    <img src="assets/three-dots.svg" alt="" width="120" height="14" />
</div>

<!-- <router-outlet (activate)="onActivateRoute($event)"></router-outlet>
<div *ngIf="splashScreen" class="splash-screen">
    <img src="assets/three-dots.svg" alt="" width="120" height="14">
</div><router-outlet (activate)="onActivateRoute($event)"></router-outlet>
<div *ngIf="splashScreen" class="splash-screen">
    <img src="assets/three-dots.svg" alt="" width="120" height="14">
</div><router-outlet (activate)="onActivateRoute($event)"></router-outlet>
<div *ngIf="splashScreen" class="splash-screen">
    <img src="assets/three-dots.svg" alt="" width="120" height="14">
</div><router-outlet (activate)="onActivateRoute($event)"></router-outlet>
<div *ngIf="splashScreen" class="splash-screen">
    <img src="assets/three-dots.svg" alt="" width="120" height="14">
</div> -->
