.side{
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
    flex: 80%;
    background-color: white;
    padding: 20px;
}
@media screen and (max-width: 700px) {
    .mainbody {   
        flex-direction: column;
    }
}
