h2{
    color: white
}
.btn {
    margin: 6px 0;
    width: 100%;
    padding: 5px;
}

input:hover,
.btn:hover {
    opacity: 1;
}
.fb {
    background-color: #3B5998;
    color: white;
}
.twitter {
    background-color: #55ACEE;
    color: white;
}
.google {
    background-color: #dd4b39;
    color: white;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.vl {
    text-align: center
}
.vl-innertext {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 8px;
}


@media screen and (max-width: 650px) {
    .col {
    width: 100%;
    margin-top: 0;
    }
}

