/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
* {
    box-sizing: border-box;
}

body {
    background: url('./assets/hd.jpg') no-repeat center center fixed ;
    background-size: cover;
}
.splash-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    // background: url('./assets/hd.jpg') no-repeat;
    // background-size: cover;
}

.maxWidth{
    max-width: 350px;
    background: white;
    border-radius: 5px;
}
@media screen and (min-width: 400px) {
    .maxWidth {
        min-width: 350px;
    }
}

.main {
    flex: 80%;
    background-color: white;
    padding: 20px;
}
.side {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}
.bg-sidebar {
    position: sticky;
    top: 66px;
    border-right: 1px solid rgba(0, 0, 0, .1);
    order: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.mainbody {
      margin-top: 66px;
}
@media screen and (min-width: 700px) {
    .bg-sidebar {
        height: calc(100vh - 66px);
    }
}
@media screen and (max-width: 700px) {
    .mainbody {
        flex-direction: column;
    }
    .bd-sidebar {
        height: auto !important;
    }
}
.heightAuthPage{
    height: calc(100vh - 66px);
}
.height-100vh{
    height: 100vh;
}

.loaderBody {
    width: 50px;
    margin: auto;
    padding: 8px;
}
@media screen and (max-width: 650px) {
    .justify-content-local {
        justify-content: center !important;
    }
}
.justify-content-local{
    justify-content: flex-end;
    height: 90vh;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* toogle checkox button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    z-index: 99999999;
    margin: 0 !important;
}
.switch input {display:none;}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}
.switch .slider.round:before {
     border-radius: 50%;
}
/* toogle checkox button END*/
.font-size-10px{
    font-size:10px
}
.font-size-14px{
    font-size:14px
}
.pointer{
    cursor: pointer;
}
.hover:hover{
    background: #e2e2e2;
}