/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 91vh;
    background: url('./assets/bg.jpg') no-repeat fixed center;
    border-radius: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* style the container */
  